
/* MainBody */
body{
    margin: 0;
    padding: 0;
    background-color: #03122f;
    font-family: "EB Garamond", serif;
    overflow-x: hidden;
}


.cantainer{
    margin-top: 10px;
    padding: 5rem;
}

.head{
    margin: 0;
    padding: 10px;
    
}
.head h1{
    text-align: center;
    color: #e73a65;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

/* ########################
   ########################
        Main Container
   ########################
   ######################## */
.hold{
    width: 100%;
    overflow-x: hidden;
}


/* ########################
   ########################
        Home Section
   ########################
   ######################## */

.main{
    background-image: url(res/aesthetic_deer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 52rem;
    margin: 0;
    overflow: auto;
    padding: 10px;
}



/* ########################
   ########################
        Navigation
   ########################
   ######################## */

.mainnav{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
   
}

.blur{
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: solid #e73a65 2px;
}

.navleft{
    width: 15rem;
    padding: 4px;
    color: white;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.navleft a{
    display: contents;
    text-decoration: none;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    color: #e54b72;;
    }

.navright{
    width: 35rem;
    padding: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    right: 7%;
    z-index: 100;
}

.navright a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding: 5px;
}


.nav-link {
    text-transform: uppercase;  
    color: #e54b72;
    margin-bottom: 5px;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #e54b72;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 0px;
  }
  
  .nav-link-ltr:hover::before {
    width: 90%;
  }

/* ########################
   ########################
        Hero Section
   ########################
   ######################## */



.code{
    display: flex;
    margin: 2px;
    
}

.code span{
    font-size: 2rem;
    font-style: normal;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    margin-right: 15px;
}

.nospace{
    margin-right: 0px !important;
}

.gap{
    margin-left: 100px;
}

.pink{
    color: #e73a65;
}

.gray{
    color: #a6a6a6;
}

.yellow{
    color: #fcd34d;
}

.orange{
    color: #e45c30;
}

.herosec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding-top: 6rem;
}

.pic{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 32rem;
    height: 32rem;
    border-radius: 100%;
    
}

.pic {
    background: linear-gradient(197deg, #c73358, #03122f);
    background-size: 200% 200%;
    animation: MovingGradiant 7s ease infinite;
}

@keyframes MovingGradiant {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}

.fgimg{
    position: relative;
    border-radius: 100%;
    height: 32.1rem;
    object-fit: cover;
    
}

.detail{
    width: 56rem;
    height: 27rem;
    padding: 15px;
    color: white;
    font-size: 1.7rem;
    transition: box-shadow 0.3s ease-in-out;
}

.detail p span{
    color: #e73a65;
    font-size: 2.5rem;
    font-weight: 900;

}

.name{
    text-align: left;
    margin: 0;
    padding: 0;
}

/* ########################
   ########################
        About Section
   ########################
   ######################## */





.details{
    display: flex;
    justify-content: start;
    gap: 7rem;
    align-items: center;
    margin-top: 130px;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.details .img{
    width: 32rem;
    height: 32rem;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.info{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 32rem;
    height: 32rem;
}


.topinfo{
    width: 29rem;
    height: 14rem;
    margin-right: 1rem;
    text-align: center;
}

.topinfo img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    margin-top: 7px;
    padding: 0;
    border-radius: 100%;
}

.topinfo .name{
    font-size: 2rem;
    font-weight: 900;
    color: #e73a65;
    text-align: center;
    margin: 0;
    padding: 0;
}

.topinfo .exp{
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin: 9px;
    padding: 0;
}

.desc {
    text-align: center;
    margin: 0;
    padding: 0;
    grid-column: span 2;
}



/* ########################
   ########################
        Skills Section
   ########################
   ######################## */


   .skill-hold{
       display: flex;
       justify-content: space-around;
       margin-top: 150px;
   }

   .skills{
       width: 47rem;
       height: 25rem;
       color: whitesmoke;
       text-align: center;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(3, 1fr);
   }

   .skills h1{
       font-size: 2.5rem;
       font-weight: 700;
       margin-top: 5px;
       margin-bottom: -10px;
       padding: 0;
       grid-column: span 3;
   }

   .skill{
       display: flex;
       width: 10rem;
       align-items: center;
       justify-content: space-around;
       gap: 0.5rem;
       margin-left: 10px;
       padding: 10px;
   }

   .simg{
       height: 2rem;
      
   }

   .skill div{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding: 10px;
   }

   .skill div h3{
       font-size: 1.5rem;
       font-weight: 900;
       margin: 0;
   }

   .skill div p{
       font-size: 1.2rem;
       font-weight: 500;
       margin: 0;
   }

   .col{
       grid-column: span 3;
       display: flex;
       align-items: center;
       justify-content: center;
       width: auto;
       margin-left: -50px;
   }


   /* ########################
   ########################
        Projects Section
   ########################
   ######################## */

   .project-hold{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 100px;
       gap: 5rem;
       color: whitesmoke;
   }


   .project{
       width: 24rem;
       height: 35rem;
       border-radius: 1rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
       padding: 10px;

   }

   .project img{
       width: 22rem;
       height: 25rem;
       object-fit: cover;
       border-radius: 1rem;
   }


    button {
           border: #e73a65 2px solid;
           color: white;
           background-color: transparent;
           cursor: pointer;
           margin: 4px;
           width: 8rem;
           height: 3rem;
           padding: 10px;
           border-radius: 25px;
           font-weight: 900;
           font-size: 1.2rem;
           transition: box-shadow 0.3s ease-in-out;
       }
       
    .glow:hover {
           box-shadow: 0 0 20px #e73a65;
       }

    

.contact-hold{
    color: whitesmoke;
    text-align: center;
    
}       
    
.contact{
    color: whitesmoke;
    text-align: center;
    width: 50%;
    height: 4.7rem;
    padding: 10px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.contact-hold h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.contact-hold p{
    margin: 10;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact img{
    height: 4rem;
    width: 4rem;
    margin-top: 10px;
    border-radius: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0 20px;
    transition: box-shadow 0.3s ease-in-out;

}



a{
    text-decoration: none;
}